<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:jee="http://www.springframework.org/schema/jee"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.springframework.org/schema/jee http://www.springframework.org/schema/jee/spring-jee-3.1.xsd
		http://www.springframework.org/schema/tx http://www.springframework.org/schema/tx/spring-tx-3.1.xsd">

    <!-- Use @Transactional instead of <tx:advice> -->
    <tx:annotation-driven />

    <!-- DataSource bean -->
    <bean name="ds" class="org.apache.commons.dbcp.BasicDataSource">
        <property 	name="driverClassName"
                     value="oracle.jdbc.OracleDriver" />
        <property 	name="username" value="nikolovski23" />
        <property 	name="password" value="road8=cake==" />
        <property 	name="url"
                     value="jdbc:oracle:thin:@oracl.chjd8x3btonj.us-west-2.rds.amazonaws.com:1521:ORCL" />
    </bean>
    <!-- SessionFactory -->
    <bean name="sf" class="org.springframework.orm.hibernate3.annotation.AnnotationSessionFactoryBean">
        <property name="dataSource" ref="ds" />
        <property name="packagesToScan" value="com.n00b5.simplist.beans" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.hbm2ddl.auto">update</prop>
                <prop key="hibernate.connection.pool_size">20</prop>
                <prop key="hibernate.dialect">
                    org.hibernate.dialect.Oracle10gDialect
                </prop>
                <prop key="show_sql">true</prop>
            </props>
        </property>
    </bean>
    <!-- Transaction Manager -->
    <bean name="transactionManager"
          class="org.springframework.orm.hibernate3.HibernateTransactionManager">
        <property name="sessionFactory" ref="sf" />
    </bean>
    <!-- DAO bean -->
    <bean name="dao" class="com.n00b5.simplist.data.DAO">
        <property name="sessionFactory" ref="sf" />
    </bean>

    <!-- Facade bean -->
    <bean name="facade" class="com.n00b5.simplist.data.Facade">
        <property name="dao" ref="dao" />
    </bean>
</beans>